* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
}

.balance {
    text-align: center;
    margin-bottom: 20px;
}

.transaction-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.transaction-form button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.transaction-form button:hover {
    background-color: #4cae4c;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin: 5px 0;
    background-color: #f9f9f9;
    border-left: 5px solid;
}

.income {
    border-color: green;
}

.expense {
    border-color: red;
}

button.delete-btn, button.edit-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    float: right;
    margin-left: 10px;
    border-radius: 2px
}

button.edit-btn {
    background-color: #4cae4c;
}
